body{
  background-color: #f0f8ff !important;
}

.popular-tests {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  top: 0px;
  gap: 20px;
  padding: 20px;
}

/* health packages card */

.health {
  background: white;
  border-radius: 10px;
  border-left: 5px solid #007bff;
  width: 100%;
  max-width: 550px;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.display_pro {
  position: relative;
  justify-content: center;
  top: 0px;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.sec {
  position: relative;
  top: 30px;
}

section h2 {
  text-align: center;
}

/* most popular test's card */
.test-card {
  width: 300px;
  height: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.animation1 {
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.4;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

/* test cards */
.med_con {
  align-items: center;
  width: 250px;
  height: 200px;
  padding: 20px;
  flex-shrink: 0;
  /* background-color: lightgray; */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dp {
  display: flex;
  gap: 20px;
  padding: 20px;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.scroll_container {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
}

/* flipping */

.card12 {
  border-color: #f0f8ff;
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
}

.card12.flip {
  border-color: #f0f8ff;
  transform: rotateY(180deg);
}

.card12 .side {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  border-color: #f0f8ff;
}

.front {
  border-color: #f0f8ff;
  background-color: #f0f8ff;

  border: none;
  color: black;
}

.back {
  background-color: #f0f8ff;
  border-color: #f0f8ff;
  border: none;
  color: black;
  transform: rotateY(180deg);
}

.test-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 123, 255, 0.3);
  
}

.med_con:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 123, 255, 0.3);

}

.health:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 123, 255, 0.3);

}

.test-card img {
  width: 25%;
  height: 25%;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.test-card:hover img {
  transform: scale(1.1);
}

.test-card h3 {
  margin: 15px 0 10px;
  font-size: 1.5rem;
  color: #333;
}

.test-card p {
  font-size: 1rem;
  color: #555;
}

.btn-book-now {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: orangered;
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-book-now:hover {
  background-color: #007bff;
  transform: translateY(6px);
}

@media screen and (max-width: 568px) {
  .popular-tests {
    position: relative;
    left: -10px;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .display_pro {
    max-width: 100%;
  }
}