.footer {
    margin-top:90px;
    background-color: #343a40;
    color: #fff;
    padding: 50px 20px;
}

.footer h4{
    color: #0056b3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

.our-branches {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}

.our-branches .branch {
    flex: 1;
    text-align: center;
}
.footer .links {
    display: flex;
    margin-top: 70px;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
}


.footer .social-links a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease;
    transform: translateX(0);
}

.footer .social-links a:hover {
    color: #74b5fc;
    transform: translateX(10px);
}

@media (max-width: 768px) {
    .footer .links {
        flex-direction: column;
        gap: 0px;
        margin-top: 0px;
    }
    .our-branches {
        flex-direction: column;
    }
}


