body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.nav_fixed {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}

.navbar {
    background-color: black !important;
}

.navbar-brand img {
    border-radius: 50%;
}

/* Ensure navbar menu aligns center on large screens but left on mobile */
.navbar-nav {
    margin: auto;
}

@media (max-width: 991px) {
    .navbar-collapse {
        text-align: left;
    }

    .navbar-nav {
        align-items: flex-start;
    }
}

/* Fixing Navbar Toggler Position */
.navbar-toggler {
    margin-left: auto;
}

/* Button Styles */
.btn {
    font-size: 16px;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    background: none;
}

.btn:hover {
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    color: white;
}

.a {
    font-size: 16px;
    color: white !important;
    text-decoration: none;
    position: relative;
    display: inline-block;
    width: max-content;
}

.a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.3s ease;
}

.a:hover {
    background-color: #555;
    border-radius: 4px;
}

.a:hover::after {
    width: 100%;
}

/* Location Link Color Change */
.selected-location {
    color: yellow;
}

.dropdown_menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 5px;
    color: white;
    border-radius:10px ;
    background-color: #444;
    min-width: 150px;
    list-style: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

}

.dropdown:hover .dropdown_menu{
    display: block;
    text-decoration: none;
    color: white;
}