.scroll-section {
    position: relative;
    top: 40px;
    width: 100%;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.scroll-content {
    display: flex;
    align-items: center;
    gap: 100px;
    opacity: 0;
    transform: translateY(50px);
    transition: transform 1s ease, opacity 1s ease;
}

.scroll-image img {
    position: relative;
    /* left: 10%; */
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.scroll-text {
    position: relative;
    right: 5%;
    max-width: 400px;
}

.scroll-text h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.scroll-text p {
    font-size: 1rem;
    line-height: 1.5;
}

/* Animations when in view */
.scroll-content.in-view {
    opacity: 1;
    transform: translateY(0);
}

.scroll-content.in-view .scroll-image {
    animation: slideInLeft 1s ease forwards;
}

.scroll-content.in-view .scroll-text {
    animation: slideInRight 1s ease forwards;
}

/* Keyframes for sliding animations */

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateZ(100%);
    }

    to {
        transform: translateX(0);
    }
}

@media (max-width: 576px) {
    .scroll-section {
        height: auto;
    }

    .scroll-content {
        display: block;
        opacity: 1;
        transform: translateY(0);
        transition: none;
    }

    .scroll-image img{
        position:relative;
        width: 100%;
        max-width: none;
        left: 4px;      
    }


    .scroll-text {
        margin-top: 18px;
        position:relative;
        width: 100%;
        max-width: none;
        left: 4px;
    }

    .scroll-content.in-view .scroll-image,
    .scroll-content.in-view .scroll-text {
        animation: none;
    }
}

