.container18 {
    display: flex;
    max-width: 100%;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    background-color: #fff;
    margin: 20px auto;
}

.categories1 {
    max-width: 400px;
    width: 170%;
    background: linear-gradient(45deg, rgb(167, 219, 248), rgba(21, 72, 239, 0.881));
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    height: max-content;
}

.dropdown1 {
    background: inherit;   
    color: black;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 8px;
    transition: 0.3s ease;
}

.all-tests-btn1 {
    background: inherit;   
    color: black;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 15px;
    font-weight: bold;
}

.all-tests-btn1:hover {
    background: rgba(106, 185, 254, 0.932);
}

.dropdown1:hover {
    background: rgba(106, 185, 254, 0.932);
}

.dropdown1-content {
    display: none;
    flex-direction: column;
    gap: 15px;
}

.dropdown1-content button {
    background: inherit;
    border: 2px solid inherit;
    border-radius: 10px;
    padding: 5px;
    gap: 5px;
}
.dropdown1-content button:hover {
    background: rgba(106, 185, 254, 0.932);
    border: 1px solid rgba(106, 185, 254, 0.932);
    border-radius: 10px;

}

.test-content1 {
    /* width: 140%;  */
    flex-grow: 1;
    padding: 25px;
    overflow: auto;
    background-color: white;
    display: block;
}

.test-cards1 {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.test-card1 {
    background: white;
    max-width: 440px;
    height: max-content;
    width: 100%;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-left: 5px solid #007bff;
}

.test-card1:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 123, 255, 0.3);
    
}

.test-card1 h4 {
    color: #007bff;
    margin-bottom: 8px;
}

.test-card1 span {
    font-size: 14px;
    font-weight: bold;
    color: #007bff;
}




@media (max-width: 1140px) {
    .test-cards1 {
        justify-content: start;
    }
    .test-card1 {
        max-width: 320px;
        width: 100%;
    }   
}

@media (max-width: 898px) {
    .test-cards1 {
        justify-content: center;
    }
    .test-card1 {
        max-width: 400px;
        width: 100%;
    }
}
@media (max-width: 568px) {
    .container18 {
        flex-direction: column;
        align-items: center;
    }

    .categories1 {
        width: 100%;
        max-width: none;
        text-align: center;
    }

    .test-cards1 {
        justify-content: center;
    }
}