/* Progress Bar Styles */
.progress-bars {
    display: grid;
    flex-wrap: wrap;
    gap: 50px;
}

.progress-bars .progress-item {
    margin-bottom: 20px;
}

.progress-item h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar .fill {
    width: 0;
    height: 100%;
    background-color: #28a745;
    transition: width 1s ease-in-out;
}

.image-container {
    position: relative;
    bottom: 100px;
    right: 40px;
    /* flex: 1; */
    /* max-width:300px; */
    width: 500px;
    opacity: 0;
    transform: translateX(-100px);
    transition: all 1s ease-in-out;
    margin-top: 100px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.image-container.visible {
    opacity: 1;
    transform: translateX(0);
}

.content h2 {
    margin-top: 40px;
}