.why-choose-us {
    padding: 50px 20px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

@media screen and (max-width: 768px) {
    .why-choose-us {
        flex-direction: column;
        align-items: center;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

}

.container {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

/* Content Section */
.content {
    flex-direction: column !important;
    flex: 1;
    max-width: 600px;
    position: relative;
    bottom: 30%;
}

.content h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.content p {
    font-size: 1rem;
    margin-bottom: 30px;
    color: #555;
}

/* Progress Bar Styles */
.progress-bars {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.progress-bars .progress-item {
    margin-bottom: 20px;
}

.progress-item h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar .fill {
    width: 0;
    height: 100%;
    background-color: #28a745;
    transition: width 1s ease-in-out;
}


/* .scroll-image img {
    position: relative;
    left: -10%;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.scroll-content.in-view {
    opacity: 1;
    transform: translateY(0);
}

.scroll-content.in-view .scroll-image {
    animation: slideInLeft 1s ease forwards;
}

.scroll-content.in-view .scroll-text {
    animation: slideInRight 1s ease forwards;
} */

.image-container {
    position: relative;
    bottom: 20%;
    left: 5%;
    flex: 1;
    max-width: 500px;
    opacity: 0;
    transform: translateX(-100px);
    transition: all 1s ease-in-out;
    margin-top: 100px;
}

.image-container img {
    width: 100%;
    border-radius: 10px;
}

.image-container.visible {
    opacity: 1;
    transform: translateX(0);
}

.content h2 {
    margin-top: 40px;
}