.why-choose-us {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive columns */
    gap: 20px; /* Space between grid items */
    padding: 20px;
    padding: 50px 20px;
    /* background-color: #333; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .why-choose-us {
        grid-template-columns: repeat(2, 1fr); /* Two columns for tablets */
    }
}

@media (max-width: 480px) {
    .why-choose-us {
        grid-template-columns: 1fr; /* One column for mobile */
    }
}
/* 
@media screen and (max-width: 768px) {
    .why-choose-us {
        flex-direction: column;
        align-items: center;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

} */

.container {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    max-width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

/* Content Section */
.content {
    flex-direction: column !important;
    flex: 1;
    max-width: 600px;
    position: relative;
    bottom: 30%;
}

.content h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.content p {
    font-size: 1rem;
    margin-bottom: 30px;
    color: #555;
}

/* Progress Bar Styles */
.progress-bars {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.progress-bars .progress-item {
    margin-bottom: 20px;
}

.progress-item h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar .fill {
    width: 0;
    height: 100%;
    background-color: #28a745;
    transition: width 1s ease-in-out;
}

.image-container {
    position: relative;
    bottom: 100px;
    right: 40px;
    /* flex: 1; */
    /* max-width:300px; */
    width: 500px;
    opacity: 0;
    transform: translateX(-100px);
    transition: all 1s ease-in-out;
    margin-top: 100px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.image-container.visible {
    opacity: 1;
    transform: translateX(0);
}

.content h2 {
    margin-top: 40px;
}